@mixin button($bg-color, $hover-color) {
    padding: 10px 20px;
    background: $bg-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: $hover-color;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}