// _variables.scss

// Colors
$melon: #e2625c;    // Yellow background color for call-to-action sections
$lime: #e4fdc3;     // Teal for footer background
$mint: #8ae2c8;     // Button color
$orange: #e89b6a; // Button hover color
$white: #fff;
$black: #000000;

// Fonts
$main_font: Arial, Helvetica, sans-serif;  // Main font for the website

// Spacing
$padding: 20px;                // Standard padding
$margin: 10px;                 // Standard margin


