$main_font: Arial, Helvetica, sans-serif;  

$padding: 20px;                
$margin: 10px;                


$mainorange: #E8A56E;
$secondary-bg-color: #DAF7A6;
$text-color: #B03A2E;
$white: #ffffff;
$footercolor: #48c9b0;
$buttoncolor: #e67e22;
$hovercolor: #bf6516;

