.back {
    background-color: #E38E49;
}
.title {
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #D4EBF8;
    padding: 55px;
    border-radius: 15px;
    font-size: larger;
}
.desc{
    margin-bottom: 20px;
    font-size: large;
}
.bold{
    color:#E38E49
}
.imgss {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px;
    max-width: 450px; 
    margin: 20px auto; 
}

.imgss img {
    width: 200px; 
    height: auto;
}
