$main_font: Arial, Helvetica, sans-serif;  

$padding: 20px;                
$margin: 10px;                


$mainorange: #e2625c;
$lime: #e4fdc3;
$text-color: #B03A2E;
$white: #ffffff;
$footercolor: #8ae2c8;
$buttoncolor: #e89b6a;
$hovercolor: #bf6516;

